/*-- Main --*/

* {
	font-family: calibri;
	user-select: none;
}

body {
	background-color: var(--background-accent0);
	overflow: hidden;
}

dim {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.4;
	transition: all 0.2s;
}

:root {
	/* Use this color if the user did something wrong and couldn't
	   be processed by the system.
	*/
	--warning: #cf0f0f;
	/* Use this color if the user did something amazing. Reward them
	   by giving them a text with a very nice color.
	*/
	--success: #0f6f3f;
	/* Use this color for buttons or you are informing a user
	   for something important (like if the input only accepts date
	   format).
	*/
	--info: #0f6fcf;
	/* This is used for buttons or labels that may lead to irrevocable
	   consequences. This is a slightly darker version of the
	   `warning` color for better visibility.
	*/
	--danger: #9f0f0f;
	/* The first accent of the background color. Use this to make
	   other things stand out.
	*/
	--background-accent0: #3a3a4a;
	/* The second accent of the background color. This is the color
	   for the windows.
	*/
	--background-accent1: #fff;
	/* Color for all lawyers things.
	*/
	--accent-client: #3f9fff;
	/* Color for all lawyers things.
	*/
	--accent-lawyer: #0f6f9f;
	/* Color for all lawyers things.
	*/
	--accent-code: #6f3f9f;
	/* Green submit buttons.
	*/
	--submit: #0f9f3f;
	/* Dark cancel buttons.
	*/
	--cancel: #3f3f3f;
}




/*-- Animations --*/

@keyframes glow {
	0% {
	}

	50% {
		box-shadow: 0 0 32px 4px #0f3f9f;
	}

	100% {
	}
}

@keyframes zoomie {
	0% {
		opacity: 0;
		transform: translateX(-24px);
	}

	4% {
		opacity: 1;
		transform: translate(-16px);
	}

	96% {
		opacity: 1;
		transform: none;
	}

	100% {
		opacity: 0;
		transform: translateX(16px);
	}
}

@keyframes loading_spinny {
	0% {
		transform: translate(-100%, -100%) rotateZ(0deg);
	}

	100% {
		transform: translate(-100%, -100%) rotateZ(360deg);
	}
}




/*-- Modifiers --*/

[small] {
	font-size: small !important;
}

[glow] {
	animation: glow 2s infinite;
}

[zoomie] {
	animation: zoomie 1.6s linear;
}

[hidden] {
	display: none !important;
}

[hidden] * {
	display: none !important;
}

[invisible] {
	opacity: 0 !important;
}

[invisible],
[invisible] *,
[hidden],
[hidden] *,
[disabled],
[disabled] * {
	pointer-events: none !important;
	user-select: none !important;
}

smaller {
	font-size: x-small;
}




/*-- Meshes --*/

/* Checkbox */
[checkbox="0"] {
	display: inline-block;
	width: 32px;
	height: 32px;
	border: none;
	border-radius: 4px;
	outline: none;
	background-color: #fff;
	cursor: pointer;
	transition: all 0.2s;
}

[checkbox="0"]:hover {
	filter: brightness(110%);
}

[checkbox="0"]:active {
	filter: brightness(90%);
	transition: all 0.1s;
}

[checkbox="0"] > div {
	display: block;
	width: 0;
	height: 0;
	left: 0;
	right: 0;
	margin: 12px auto;
	margin-top: 16px;
	border-radius: 16px;
	background-color: var(--info);
	transition: all 0.2s;
}

[checkbox="0"][active] > div {
	width: 24px;
	height: 24px;
	margin: 0 auto;
	margin-top: 4px;
	border-radius: 4px;
	transition: all 0.2s, border-radius 0.8s;
}

/* Text Input */
[input_text="0"] {
	padding: 8px 12px;
	border: none;
	border-radius: 8px;
	outline: none;
	background-color: #dfdfdf;
	transition: all 0.2s;
}

[input_text="0"]:hover,
[input_text="0"]:focus {
	border-radius: 4px !important;
	background-color: #efefef;
}

[input_text="0"]:focus {
	box-shadow: 0 0 16px -4px #000 !important;
}

/* Rounded Rectangle Button */
[button="0"] {
	padding: 8px 16px;
	border-radius: 8px;
}

/* Spherical Button */
[button="1"] {
	border-radius: 50%;
}

[button] {
	border: none;
	outline: none;
	cursor: pointer;
	transition: all 0.2s;
}

[button]:hover {
	border-radius: 4px !important;
	filter: brightness(110%);
}

[button]:active {
	border-radius: 4px !important;
	filter: brightness(90%);
	transition: all 0.1s;
}

[button]:focus {
	box-shadow: 0 0 1px #000;
}




/*-- Custom Scrollbars --*/

[scroll]::-webkit-scrollbar {
	width: 8px;
}

[scroll="0"]::-webkit-scrollbar-thumb {
	background-color: var(--cancel);
	border-radius: 4px;
}

[scroll="0"]::-webkit-scrollbar-thumb:hover {
	background-color: #000;
}

[scroll="1"]::-webkit-scrollbar-thumb {
	background-color: #fff;
	border-radius: 4px;
}

[scroll="1"]::-webkit-scrollbar-thumb:hover {
	background-color: #cfcfcf;
}




/*-- Popup Window Style --*/

[popup] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity 0.2s;
	z-index: 4;
}

[popup][invisible] > div {
	transform: translate(-50%, -50%) scale(0.9);
}

[popup] > div {
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 4px;
	background-color: #fff;
	transform: translate(-50%, -50%);
	transition: all 0.2s;
}




/*-- Preload --*/

#preload {
	position: absolute;
	top: -25%;
	left: -25%;
	width: 150%;
	height: 150%;
	background-color: #2a2a3a;
	z-index: 999;
	border-bottom-right-radius: 50%;
	transition: top 2.4s, left 2.4s;
	overflow: hidden;
	pointer-events: none;
}

#preload > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#preload label {
	display: block;
	text-align: center;
	color: #fff;
	font-family: segoe ui light;
	font-weight: lighter;
}

#preload_header {
	margin-bottom: 24px;
	font-size: 64px;
	font-weight: lighter;
	transition: opacity 0.2s;
}

#preload_sub {
	opacity: 0;
	font-size: 24px;
}




/*-- Login --*/

#login {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #3a3a4a;
	/* Make sure its on top of everything. */
	transition: opacity 0.2s;
}

#login > div {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: auto;
	width: 224px;
	transform: translateY(-50%);
}

#login > div > label {
	display: block;
	margin-bottom: 48px;
	text-align: center;
	font-size: 32px;
	font-weight: lighter;
	color: #fff;
	pointer-events: none;
	user-select: none;
}

#login > div > input,
#login_acpt {
	display: block;
	height: 32px;
	line-height: 32px;
	border: none;
	border-radius: 16px;
	outline: none;
	font-size: 16px;
	transition: all 0.2s;
}

#login > div > input {
	width: calc(100% - 16px);
	padding: 4px 12px;
	margin-bottom: 16px;
}

#login_acpt {
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 32px;
	padding: 0 32px;
	background-color: var(--info);
	color: #fff;
	cursor: pointer;
}




/*-- Logout --*/

#logout_popup > div > label {
	display: block;
	margin: 0 48px;
	margin-top: 24px;
	font-size: 20px;
	font-weight: lighter;
}

#logout_popup sub {
	display: block;
	margin: 16px 48px;
	margin-top: 24px;
	text-align: center;
	font-size: 18px;
	font-weight: lighter;
	color: var(--success);
}

#logout_popup button {
	margin: 16px 32px;
	padding-left: 24px;
	padding-right: 24px;
	height: 32px;
}

#logout_popup_no {
	color: #fff;
	background-color: var(--cancel);
}

#logout_popup_yes {
	color: #fff;
	background-color: var(--info);
	float: right;
}





/*-- Space --*/

#space {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#space_empty {
	opacity: 0.6;
	position: absolute;
	top: 50%;
	left: 184px;
	width: calc(100% - 184px);
	font-family: segoe ui light;
	font-weight: lighter;
	font-size: 32px;
	text-align: center;
	color: #fff;
	transform: translateY(-50%);
	pointer-events: none;
	overflow-wrap: unset;
	word-wrap: break-word;
	z-index: 2;
}

#space_empty > * {
	font-family: inherit;
	font-weight: inherit;
}

#space_empty > small {
	font-size: 22px;
}

#space_empty > smaller {
	font-size: 16px;
}




/*-- Client --*/

#client_new {
	background-color: var(--accent-client);
}




/*-- `client_space` --*/

#client_space > label {
	width: calc(100% - 48px);
	padding-right: 30px;
}





/*-- Lawyer --*/

#lawyer_new {
	background-color: var(--accent-lawyer);
}




/*-- `lawyer_popup` --*/

#lawyer_popup > div {
	padding: 8px;
}

#lawyer_popup > div > label {
	display: block;
	margin-top: 8px;
	color: var(--accent-lawyer);
	text-align: center;
	font-size: 20px;
	font-weight: lighter;
}

#lawyer_popup_input {
	display: block;
	width: 256px;
	margin: 16px 8px;
	font-size: 16px;
}

#lawyer_popup_cancel {
	color: #fff;
	background-color: var(--cancel);
}

#lawyer_popup_create {
	float: right;
	color: #fff;
	background-color: var(--submit);
}




/*-- Codes --*/

#code_new {
	background-color: var(--accent-code);
}

#code_space > label {
	line-height: calc(1em + 8px);
}

#code_space > label > label {
	margin-right: 8px;
	padding: 2px 4px;
	border-radius: 4px;
	color: #fff;
	background-color: var(--accent-code);
	pointer-events: none;
}

#code_search {
	left: 12px;
	width: calc(100% - 56px);
	padding: 0 14px;
	line-height: 32px;
	font-size: 14px;
}



/*-- `code_popup` --*/

#code_popup > div {
	padding: 8px;
}

#code_popup> div > label:first-child {
	margin-left: 0;
	color: var(--accent-code);
	text-align: center;
	font-size: 20px;
	font-weight: lighter;
}

#code_popup > div > label {
	display: block;
	margin: 8px 0;
	margin-left: 8px;
	font-size: 16px;
}

#code_popup > div > input {
	display: block;
	width: 256px;
	margin: 8px 8px;
	margin-bottom: 16px;
	font-size: 16px;
}

#code_popup_code {
	text-transform: uppercase;
}

#code_popup_cancel {
	color: #fff;
	background-color: var(--cancel);
}

#code_popup_create {
	float: right;
	color: #fff;
	background-color: var(--submit);
}




/*-- Info --*/

#info {
	position: absolute;
	bottom: 0;
	left: 360px;
	width: calc(100% - 376px);
	height: 48px;
	padding-top: 8px;
}

.info_entry {
	display: inline-block;
	max-width: calc((100vw - 440px)/3);
	height: 64px;
	overflow: hidden;
}

.info_entry:not(:first-child) {
	margin-left: 32px;
}

.info_entry > * {
	display: block;
}

.info_entry > label:first-child {
	font-weight: lighter;
	font-size: 14px;
	color: #9fcfff;
}

.info_entry > label:last-child {
	margin-top: 4px;
	margin-left: 8px;
	color: #fff;
	font-size: 16px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}




/*-- Menu --*/

#menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 184px;
	height: 64px;
	background-color: var(--background-accent1);
}

#menu > img {
	height: 40px;
	width: 40px;
	margin-top: 12px;
	margin-left: 15px;
	vertical-align: top;
}

#menu > img:first-child {
	margin-left: 16px;
}

#menu > img[selected] {
	border-radius: 8px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	padding-bottom: 12px;
	pointer-events: none;
}

#menu_clients {
	background-color: var(--accent-client);
}

#menu_lawyers {
	background-color: var(--accent-lawyer);
}

#menu_codes {
	background-color: var(--accent-code);
}




/*-- Sidebar --*/

#sidebar {
	position: absolute;
	top: 64px;
	width: 184px;
	height: calc(100% - 64px);
	background-color: #fff;
	transition: left 0.2s;
}

#sidebar > * {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: all 0.2s;
}

.sidebar_search {
	position: absolute;
	top: 16px;
	left: 56px;
	width: calc(100% - 100px);
	padding: 0 14px;
	line-height: 32px;
	font-size: 14px;
}

.sidebar_new {
	position: absolute;
	top: 16px;
	left: 16px;
	width: 32px;
	height: 32px;
	transition: all 0.2s;
	cursor: pointer;
}

.sidebar_space {
	position: absolute;
	top: 64px;
	left: 8px;
	width: calc(100% - 16px);
	height: calc(100% - 72px);
	overflow-x: hidden;
	overflow-y: auto;
}

.sidebar_space > label {
	display: block;
	width: calc(100% - 30px);
	padding: 8px 12px;
	font-size: 14px;
	border-radius: 6px;
	box-shadow: 0 0 1px #7f7f7f inset;
	word-wrap: break-word;
	transition: all 0.2s;
	cursor: pointer;
}

.sidebar_space > label:not(:first-child) {
	margin-top: 8px;
}

.sidebar_space > label:hover {
	background-color: #dfdfdf;
	box-shadow: none;
}

.sidebar_space > label:active {
	background-color: #afafaf;
	box-shadow: none;
	transition: all 0.1s;
}

.sidebar_space > label[selected] {
	background-color: #3f6fcf;
	color: #fff;
	box-shadow: none;
	pointer-events: none;
}

.sidebar_space > label[selected] > .sidebar_pref {
	display: block;
	pointer-events: all;
}

.sidebar_pref {
	position: absolute;
	display: none;
	right: 10px;
	margin-top: -20px;
	float: right;
	transition: all 0.2s;
}

.sidebar_pref:hover {
	transform: rotateZ(45deg);
	filter: brightness(80%);
}

.sidebar_pref:active {
	filter: brightness(60%);
	transition: all 0.1s;
}




/*-- ctrl --*/

#ctrl {
	position: absolute;
	top: 0;
	left: 344px;
	width: calc(100% - 376px);
	height: 32px;
	padding: 16px;
}

#ctrl div {
	display: inline;
}

#ctrl button {
	height: 32px;
}

#ctrl button:not(:first-child) {
	margin-left: 16px;
}

#ctrl_log {
	background-color: var(--info);
	color: #fff;
}

#ctrl_bill {
	background-color: #0f7f3f;
	color: #fff;
}

#ctrl img {
	margin-right: 24px;
	border-radius: 16px;
	float: right;
	cursor: pointer;
	transition: all 0.2s;
}

#ctrl img:hover {
	filter: brightness(60%);
}

#ctrl img:active {
	filter: brightness(60%);
	transform: scale(0.9);
	transition: all 0.1s;
}

img#ctrl_logout {
	margin-right: 0;
	border-radius: 0;
}




/*-- Case Matter --*/

#case_space {
	position: absolute;
	top: 0;
	left: 184px;
	width: 160px;
	height: 100%;
	background-color: #dfdfdf;
	transition: all 0.2s;
}

#case_new {
	position: absolute;
	margin: 8px;
	margin-top: 0;
	width: 144px;
	height: 32px;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	background-color: var(--submit);
	color: #fff;
}

.case_space {
	position: absolute;
	top: 40px;
	padding: 0 16px;
	padding-right: 8px;
	width: 128px;
	height: calc(100% - 40px);
	overflow-y: auto;
}

.case_space > * {
	display: block;
	padding: 8px 8px;
	font-size: 13px;
	border-radius: 6px;
	box-shadow: 0 0 1px #7f7f7f inset;
	word-wrap: break-word;
	transition: all 0.2s;
	cursor: pointer;
}

.case_space > *:not(:first-child) {
	margin-top: 8px;
}

.case_space > *:hover {
	background-color: #dfdfdf;
	box-shadow: none;
}

.case_space > *:active {
	background-color: #afafaf;
	box-shadow: none;
	transition: all 0.1s;
}

.case_space > *[selected] {
	background-color: #3f6fcf;
	color: #fff;
	box-shadow: none;
	pointer-events: none;
}




/*-- case_popup --*/

#case_popup > div {
	padding: 8px;
}

#case_popup > div > label {
	display: block;
	margin-top: 8px;
	color: var(--info);
	text-align: center;
	font-size: 20px;
	font-weight: lighter;
}

#case_popup_input {
	display: block;
	width: 256px;
	margin: 16px 8px;
	font-size: 16px;
}

#case_popup_cancel {
	color: #fff;
	background-color: var(--cancel);
}

#case_popup_create {
	float: right;
	color: #fff;
	background-color: var(--submit);
}




/* `bill_popup` */

#bill_popup > div {
	width: calc(100% - 320px);
	min-width: 640px;
	padding: 16px 0;
	padding-right: 8px;
}

.bill_popup_entry {
	display: inline-block;
	vertical-align: top;
	margin-left: 24px;
	margin-bottom: 16px;
}

.bill_popup_entry[right] {
	float: right;
	margin-right: 16px;
}

.bill_popup_entry:first-child {
}

.bill_popup_entry > label {
	display: block;
	margin-bottom: 8px;
	color: var(--info);
	font-weight: bold;
	font-size: 16px;
}

.bill_popup_entry > div {
	max-width: 192px;
	border-radius: 4px;
	font-weight: lighter;
	font-size: 15px;
	font-style: italic;
	background-color: #cfcfcf;
}

.bill_popup_entry > input {
	font-size: 15px;
}

#bill_popup_rate,
#bill_popup_vat {
	width: 64px;
}

#bill_popup_space {
	max-height: calc(100vh - 420px);
	margin-left: 8px;
	margin-top: 16px;
	margin-bottom: 16px;
	border-radius: 4px;
	background-color: #cfcfcf;
	overflow-x: hidden;
	overflow-y: auto;
}

#bill_popup_table {
	border-collapse: collapse;
}

#bill_popup_tbody tr:first-child td {
	font-weight: bold;
}

#bill_popup_tbody tr[exclude] td {
	text-decoration: line-through;
	color: #6f6f6f;
}

#bill_popup_tbody td {
	padding: 8px 8px;
	vertical-align: top;
	font-size: 14px;
}

#bill_popup_tbody td[short] {
	width: 1%;
}

#bill_popup_tbody td[long] {
}

#bill_popup_tbody td:not(:last-child) {
	border-right: 1px #fff solid;
}

#bill_popup_tbody tr:not(:first-child) td {
	word-break: break-all;
}

#bill_popup_warn {
	display: block;
	margin-left: 24px;
	margin-bottom: 16px;
	font-weight: bold;
	font-size: 16px;
	color: var(--warning);
}

#bill_popup_cancel {
	margin-top: 16px;
	margin-left: 24px;
	color: #fff;
	background-color: var(--cancel);
}

#bill_popup_submit {
	margin-top: 16px;
	margin-right: 16px;
	float: right;
	color: #fff;
	background-color: var(--submit);
}




/*-- Log --*/

#log {
	position: absolute;
	top: 64px;
	left: 344px;
	width: calc(100% - 352px);
	height: calc(100% - 128px);
}

.log_space {
	position: absolute;
	top: 0;
	left: 8px;
	width: calc(100% - 16px);
	height: 100%;
	padding-right: 8px;
	overflow: hidden;
	overflow-y: auto;
	transition: all 0.2s;
}

.log_space > * {
	display: block;
	padding: 0 8px;
	border-radius: 4px;
	background-color: #fff;
	cursor: pointer;
	transition: all 0.2s;
	overflow: hidden;
}

.log_space > *[billed]:not(:hover):not([expand]) {
	opacity: 0.4;
}

.log_space > * > div {
	display: none;
}

.log_space > *[expand] > div {
	display: block;
}

.log_space > *:hover {
}

.log_space > *:not(:last-child) {
	margin-bottom: 8px;
}

.log_space > * * {
	pointer-events: none;
}

.log_space_time,
.log_space_date {
	line-height: 32px;
	pointer-events: none;
}

.log_space_time {
	display: inline-block;
	width: 60%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 14px;
}

.log_space_date {
	float: right;
	font-size: 14px;
	font-weight: bolder;
	color: var(--info);
}

.log_space_range {
	display: block;
	margin: 8px 0;
	color: var(--info);
	font-size: 14px;
	font-weight: bold;
}

.log_space_lawyer {
	display: inline-block;
	margin-bottom: 8px;
	font-size: 14px;
}

.log_space_lawyer > label {
	display: inline-block;
	margin-right: 8px;
	color: var(--info);
	font-weight: bold;
}

.log_space_code {
	display: block;
}

.log_space_code > b {
	display: block;
	margin-bottom: 8px;
	color: var(--warning);
	font-size: 12px;
}

.log_space_code > label {
	display: inline-block;
	margin-bottom: 8px;
	margin-right: 8px;
	padding: 2px 8px;
	border-radius: 4px;
	color: #000;
	background-color: #fff;
	box-shadow: 0 0 1px #000;
	font-size: 12px;
	word-break: break-all;
}

.log_space_code > label:last-child {
	margin-right: 0;
}

.log_space_desc {
	display: block;
	margin-bottom: 8px;
	padding: 6px 8px;
	border-radius: 4px;
	background-color: #fff;
	font-size: 14px;
	box-shadow: 0 0 1px #000;
}




/*-- log_popup --*/


#log_popup > div {
	width: 572px;
	padding-right: 8px;
	padding-bottom: 8px;
	background-color: #fff;
}

#log_popup > div >
label:not(#log_popup_desc_label):not(#log_popup_code_label) {
	position: absolute;
	margin-top: 10px;
	margin-left: 16px;
	font-size: 14px;
}

#log_popup > div > input,
#log_popup_desc {
	font-size: 14px;
	word-wrap: break-word;
}

#log_popup > div > input {
	display: inline-block;
	height: 24px;
	margin-top: 32px;
	margin-left: 8px;
	padding: 4px 10px;
	font-size: 14px;
}

#log_popup_date {
	width: 96px;
}

#log_popup_start,
#log_popup_end {
	width: 96px;
}

#log_popup_lawyer {
	width: 160px;
}

#log_popup_code,
#log_popup_desc {
	display: block;
	max-height: 96px;
	margin-top: 8px;
	margin-left: 8px;
	padding: 7px 10px;
	overflow-x: hidden;
	overflow-y: auto;
}

#log_popup_code_label,
#log_popup_desc_label {
	display: block;
	margin-left: 16px;
	margin-top: 8px;
	font-size: 14px;
}

#log_popup_code label {
	display: inline-block;
	padding: 2px 8px;
	margin-bottom: 8px;
	border: none;
	border-radius: 4px;
	outline: none;
	font-size: 14px;
	pointer-events: auto;
	cursor: pointer;
	transition: all 0.2s;
	word-break: break-all;
}

#log_popup_code label:not(:first-child) {
	margin-left: 8px;
	box-shadow: 0 0 1px #000;
	background-color: #fff;
}

#log_popup_code label:not(:first-child):hover {
	background-color: #ff9f9f;
}

#log_popup_code label:first-child {
	background-color: var(--accent-code);
	color: #fff;
	transition: all 0.2s;
}

#log_popup_code label:first-child:focus {
	background-color: #fff;
	box-shadow: 0 0 4px var(--accent-code);
	color: #000;
	padding: 4px 10px;
	cursor: text;
}

#log_popup_code label:first-child:empty:not(:focus)::before {
	content: "+";
}

#log_popup_ctrl {
	display: block;
	margin-top: 16px;
	margin-left: 8px;
}

#log_popup_ctrl > * {
	height: 32px;
	padding: 0 16px;
}

#log_popup_ctrl > *:not(:first-child) {
	margin-left: 8px;
}

#log_popup_ctrl_bill {
	background-color: var(--submit);
	color: #fff;
}

#log_popup_ctrl_pref {
	background-color: #5f5f5f;
	color: #fff;
}

#log_popup_ctrl_cancel {
	color: #fff;
	background-color: var(--cancel);
}

#log_popup_ctrl_submit {
	background-color: var(--submit);
	color: #fff;
	float: right;
}




/*-- client_popup --*/

#client_popup > div {
	padding: 8px;
}

#client_popup > div > label {
	display: block;
	margin-top: 8px;
	color: var(--accent-client);
	text-align: center;
	font-size: 20px;
	font-weight: lighter;
}

#client_popup_input {
	display: block;
	width: 256px;
	margin: 16px 8px;
	font-size: 16px;
}

#client_popup_cancel {
	color: #fff;
	background-color: var(--cancel);
}

#client_popup_create {
	float: right;
	color: #fff;
	background-color: var(--submit);
}




/*-- `delete_popup` --*/

#delete_popup > div > label {
	display: block;
	margin: 32px;
	font-size: 18px;
}

#delete_popup_name {
	color: var(--info);
	font-weight: bold;
}

#delete_popup_no {
	margin-left: 32px;
	margin-bottom: 16px;
	color: #fff;
	background-color: var(--cancel);
}

#delete_popup_yes {
	float: right;
	margin-right: 32px;
	margin-bottom: 16px;
	color: #fff;
	background-color: var(--danger);
}




/*-- `edit_popup` --*/

.edit_popup > div {
	width: 320px;
	max-height: calc(100% - 64px);
	padding: 16px;
	padding-top: 24px;
	overflow-y: auto;
}

.edit_popup_label {
	display: block;
	margin: 8px;
	margin-bottom: 0;
	color: var(--info);
	font-weight: lighter;
	font-size: 18px;
}

.edit_popup > div > input {
	display: inline-block;
	width: calc(100% - 48px);
	padding: 8px 12px;
	margin: 8px;
	border: none;
	outline: none;
	font-size: 14px;
}

.edit_popup > div > sep {
	display: block;
	margin: 32px;
	border-bottom: 4px dotted var(--warning);
}

.edit_popup_close {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: inherit;
	cursor: pointer;
	transition: all 0.2s;
}

.edit_popup_close:hover {
	box-shadow: 0 0 1px #000;
}

.edit_popup_close:active {
	box-shadow: 0 0 1px #000;
	filter: brightness(80%);
	transition: all 0.1s;
}

.edit_popup_danger {
	display: block;
	margin: 0 32px;
	width: calc(100% - 64px);
	background-color: var(--danger);
	color: #fff;
}




/*-- Loading --*/

#loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	transition: all 0.2s;
}

#loading > img {
	opacity: 0.8;
	position: absolute;
	top: calc(100% - 32px);
	left: calc(100% - 32px);
	width: 20vh;
	height: 20vh;
	max-width: 512px;
	max-height: 512px;
	animation: loading_spinny 1.6s linear infinite;
}
